/* Fondo oscuro detrás del modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

/* Estilos del formulario */
.todoForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Animación de aparición */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.todoForm-label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

.todoForm textarea {
    width: 375px;
    height: 120px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
    resize: none;
}

.todoForm-buttons {
    display: flex;
    justify-content: space-between;
}

.todoForm-button {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todoForm-button-cancel {
    background-color: #ff4d4f;
    color: white;
}

.todoForm-button-cancel:hover {
    background-color: #ff7875;
}

.todoForm-button-add {
    background-color: #28a745;
    color: white;
}

.todoForm-button-add:hover {
    background-color: #43d14b;
}
